hotelbooking/HotelBookingForm/Connected Services/ServiceReference1/hotelbooking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/hotelbooking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/hotelbooking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userr">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userr" nillable="true" type="tns:userr" />
</xs:schema>