hotelbooking/HotelBookingForm/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/hotelbooking" />
  <xs:element name="adduser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/hotelbooking" minOccurs="0" name="u" nillable="true" type="q1:userr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adduserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adduserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>